body {
    background-color: #665BD9;
    font: normal 15pt Arial;
}
header {
    text-align: center;
    color: white;
}

section {
    background-color: white;
    width: 500px;
    margin: auto;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 1px 2px;
}

#entradas {
    padding: 5px;
    margin: 5px;
}

#foto {
    margin-top: 20px;
    width: 350px; 
    height: 350px;
    border-radius: 50%;
}

footer {
    margin-top: 60px;
    text-align: center;
    color: white;
    font-style: italic;
}